<body id="catalogo_both">


    <nav>
        <img class="hamburger" src="/Icons/hamburgerBLACK.svg">
        <ul class="black_nav">
            <li><a href="/">Homepage</a></li>
            <li><a href="/catalogo/orientale">Catalogo Orientale</a></li>
            <li><a href="/catalogo/occidentale">Catalogo Occidentale</a></li>
            <li><a href="/">Contattami</a></li>
            <li><a href="/">Pagamenti</a></li>
            <% if (locals.authenticated) { %>
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <% } %>
        </ul>
        <img class="closeMenu" src="/Icons/closeMenu.svg">
    </nav>


    <section class="both_occidentale">
        <div class="first">
            <div class="center">
                <div data-aos="fade-right" class="inliner">
                    <h1>Tappeti Occidentali</h1>
                    <img src="/Icons/ovest.svg" alt="Catalogo Tappeti Occidentali">
                </div>
                <p data-aos-delay="500" data-aos="fade-right">
                    I tappeti moderni aggiungono colore all’arredamento in modo<br>
                    uniforme. Questi tipi di tappeti, nella maggior parte dei casi,<br>
                    sono mono o bicolore.
                </p>
                <a data-aos-delay="1000" data-aos="fade-right" href="/catalogo/occidentale">
                    Prodotti
                    <img src="/Icons/arrowCatalogo.svg" alt="Prodotti Occidentali">
                </a>
            </div>
        </div>
        <div class="second">
            <img data-aos-delay="1000" data-aos="fade-right" class="image"
                src="/Images/imagesCatalogo/occidentaleBgBoth.jpg" alt="Tappeti Occidentali">
        </div>
    </section>

    <section class="both_orientale">
        <div class="first">
            <img data-aos-delay="1000" data-aos="fade-left" class="image"
                src="/Images/imagesCatalogo/orientaleBgBoth.jpg">
        </div>
        <div class="second">
            <div class="center">
                <div data-aos="fade-left" class="inliner">
                    <img src="/Icons/est.svg" alt="Catalogo Tappeti Orientali">
                    <h1>Tappeti Orientali</h1>
                </div>
                <p data-aos-delay="500" data-aos="fade-left">
                    I tappeti orientali sono considerati delle vere e proprie opere d’arti.<br>
                    Essi rispecchiano la cultura di un popolo, e presentano<br>
                    una forma espressiva caratterizzata da una storia millenaria.
                </p>
                <a data-aos-delay="1000" data-aos="fade-left" href="/catalogo/orientale">
                    <img style="transform: rotate(180deg);" src="/Icons/arrowCatalogo.svg" alt="Prodotti Orientali">
                    Prodotti
                </a>
            </div>
        </div>
    </section>
    <script src="/clientSideScripts/navbarMenu.js"></script>
</body>