<body data-scroll-container id="landing_page">

    <% if(msg !=='' ){ %>
        <main class="broadcast">
            <h2>
                <%= msg %>
            </h2>
            <img src="/Icons/closeBroadcast.svg">
        </main>

        <% } %>
            <section class="header">
                <nav>
                    <div class="container">
                        <a class="logo" href="/">
                            <img src="/Icons/mediumc__logo.svg">
                        </a>

                        <ul>
                            <div class="centering">
                                <li><a href="/catalogo">Catalogo</a></li>
                                <li><a href="mailto:devvyou@gmail.com">Contattami</a></li>
                                <li><a href="#payments">Pagamenti</a></li>
                            </div>
                        </ul>

                        <img class="hamburger" src="/Icons/hamburger.svg">
                        <img class="closeMenu" src="/Icons/closeMenu.svg">

                    </div>
                </nav>

                <div class="banner">
                    <div class="overlay"></div>
                    <div class="center">
                        <div class="container">
                            <h1>MediumC</h1>
                            <p>
                                Scopri i nostri nuovi prodotti nel catalogo,
                                dove potrai trovare sicuramente qualsiasi tipo di prodotto.
                            </p>
                            <a href="#tps">Scopri di più</a>
                        </div>
                    </div>
                </div>

            </section>

            <section class="info" id="info">
                <div class="container">
                    <ul>
                        <li>
                            <h2 data-aos="fade-up" data-aos-delay="400">Cosa vendiamo ?</h2>
                            <p>
                                Il nostro Catalogo comprende due tipi di tappeti.<br>
                                Orientali e Occidentali
                            </p>
                        </li>
                        <li>
                            <h2 data-aos="fade-up" data-aos-delay="500">Compra subito</h2>
                            <div class="inliner">
                                <p>
                                    Per scorrere direttamente al catalogo.<br>
                                    <a href="/catalogo">Clicca qui</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <seciton id="tps">
                <div class="tappeti orientali">
                    <div class="background"></div>
                    <div class="inliner">
                        <img alt="MediumC Tappeti Orientali" data-aos="fade-right" data-aos-delay="500"
                            src="/Images/imagesHome/tappeti_orientali.jpg">
                        <div class="content">
                            <h2 data-aos="fade-left">Tappeti Orientali</h2>
                            <p data-aos="fade-left" data-aos-delay="1000">
                                I tappeti orientali sono considerati delle<br>
                                vere e proprie opere d’arti. Essi<br>
                                rispecchiano la cultura di un popolo, e<br>
                                presentano una forma espressiva<br>
                                caratterizzata da una storia millenaria.
                            </p>
                            <div class="inliner2">
                                <a href="/catalogo/orientale" class="button">Prodotti</a>
                                <a data-aos="fade-bottom" data-aos-delay="1500" href="#orientale_info">Scopri di più</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tappeti occidentali">
                    <div class="background"></div>
                    <div class="inliner">
                        <div class="content">
                            <h2 data-aos="fade-right">Tappeti Occidentali</h2>
                            <p data-aos="fade-right" data-aos-delay="1000">
                                I tappeti moderni aggiungono colore<br>
                                all’arredamento in modo uniforme. Questi<br>
                                tipi di tappeti, nella maggior parte dei casi,<br>
                                sono mono o bicolore.
                            </p>
                            <div class="inliner2">
                                <a href="/catalogo/occidentale" class="button">Prodotti</a>
                                <a href="#occidentale_info" data-aos="fade-bottom" data-aos-delay="1500">Scopri di
                                    più</a>
                            </div>
                        </div>
                        <img alt="MediumC Tappeti Occidentali" data-aos="fade-left" data-aos-delay="500"
                            src="/Images/imagesHome/tappeti_moderni.jpg">
                    </div>
                </div>
            </seciton>



            <section id="flipping-cards" class="flipping-cards">
                <ul class="wrapper">
                    <li data-aos="fade-up" class="card occidentale">
                        <img alt="MediumC Tappeti Occidentali" src="/Images/imagesHome/occidentale.jpg">
                        <div class="content content1"></div>
                        <div class="content content2"></div>
                        <a href="">Occidentale</a>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="500" class="card flipped orientale">
                        <img alt="MediumC Tappeti Orientali" src="/Images/imagesHome/orientale.jpg">
                        <div class="content content1"></div>
                        <div class="content content2"></div>
                        <a href="">Orientale</a>
                    </li>
                    <li data-aos="fade-up" class="card flipped occidentale">
                        <img alt="MediumC Tappeti Occidentali" src="/Images/imagesHome/occidentale2.jpg">
                        <div class="content content1"></div>
                        <div class="content content2"></div>
                        <a href="">Occidentale</a>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="500" class="card orientale">
                        <img alt="MediumC Tappeti Orientali" src="/Images/imagesHome/orientale2.jpg">
                        <div class="content content1"></div>
                        <div class="content content2"></div>
                        <a href="">Orientale</a>
                    </li>
                    <li data-aos="fade-up" class="card occidentale">
                        <img alt="MediumC Tappeti Occidentali" src="/Images/imagesHome/orientale.jpg">
                        <div class="content content1"></div>
                        <div class="content content2"></div>
                        <a href="">Occidentale</a>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="500" class="card flipped orientale">
                        <img alt="MediumC Tappeti Orientali" src="/Images/imagesHome/orientale3.jpg">
                        <div class="content content1"></div>
                        <div class="content content2"></div>
                        <a href="">Orientale</a>
                    </li>
                </ul>
            </section>

            <section id="socials" class="socials">

                <div class="social">
                    <div class="push_down">
                        <div class="inliner">
                            <h3>Socials</h3>
                            <img src="/Icons/twitter.png">
                        </div>
                        <p>
                            Il nostro negozio utilizza due socials:<br>
                            Facebook & Instagram.
                        </p>
                    </div>
                    <ul data-aos="fade-bottom">
                        <li data-aos="fade-left" data-aos-duration="1000">
                            <a href="#">
                                <img src="/Icons/instagram.png">
                                Contattami su Instagram
                            </a>
                        </li>
                        <li data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                            <a href="#">
                                <img src="/Icons/facebook.png">
                                Contattami su Facebook
                            </a>
                        </li>
                        <li data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1000">
                            <a href="#">
                                <img src="/Icons/whatsapp.png">
                                Contattami su Whatsapp
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="payments" class="payments">
                    <h3>Come funzionano i Pagamenti ?</h3>
                    <p>
                        Il Pagamento avverrà in privato tra il Cliente<br>
                        e il Propietario su uno dei due Socials prima citati.
                    </p>
                </div>

            </section>


            <script src="/clientSideScripts/broadcast.js"></script>
            <script src="/clientSideScripts/navbarMenu.js"></script>
            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>